@{
    ViewData["Title"] = "Order Success";
}

<link rel="stylesheet" href="~/css/nav-bar.css">
<link rel="stylesheet" href="~/css/footer2.css">
<link rel="stylesheet" href="~/css/success2.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/js/CheckSearchbox.js" />


<body>

    <div class="jumbotron-fluid text-center content">
        <div class="row">
            <div class="col-sm-1 "> </div>
            <div class="col-sm-1 side-block"> </div>
            <div class="col-sm-8 summary-block">
                <img src="~/icon/Done.svg" class=" mx-auto d-block img-style">

                <p>
                    THANK YOU
                </p><br />
                การสั่งซื้อของคุณเรียบร้อยแล้ว ทางเราจะจัดส่งภายใน 1- 2 วัน<br />
                และจะแจ้งไปทางอีเมล์ของคุณ<br />
                หากพบเจอปัญหาโปรดติดต่อ 080-0000000

                <div class="button-block">
                    <a asp-action="Index">กลับไปหน้าแรก </a>
                </div>

            </div>
            <div class="col-sm-1 side-block"> </div>
            <div class="col-sm-1 "> </div>
        </div>

    </div>



</body>

