@{
    ViewData["Title"] = "Privacy Policy";
}

<link rel="stylesheet" href="~/css/nav-bar.css">
<link rel="stylesheet" href="~/css/footer2.css">
<link rel="stylesheet" href="~/css/Privacy.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link href="https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500;1,600&family=Roboto:wght@100;400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="~/js/CheckSearchbox.js" />


<header>
    <nav class="navbar navbar-dark container-fluid navbar-expand-sm fixed-top nav-bar">
        <div class="container">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="nav-logo my-2"><img src="~/icon/FilmLab.svg" class="logo-nav-img"></a>

            <div class="input-group search-box col-lg-8 col-md-6 col-sm-4">
                <input type="text" class="form-control search-field" placeholder="Search">
                <div class="input-group-append">
                    <button class="btn btn-secondary btn-search-nav" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>

            <div>
                <ul class="navbar-nav">
                    <li class="nav-item active d-flex align-items-center ml-md-12">
                        <a asp-area="" asp-controller="Home" asp-action="ProductCategory" class="nav-link btn btn-nav my-2 my-sm-0" role="button">Shop</a>
                    </li>
                    <li class="nav-item cart-icon ml-md-4">
                        <a asp-area="" asp-controller="Home" asp-action="Index">
                            <svg xmlns="http://www.w3.org/2000/svg" height="2.938rem" viewBox="0 0 24 24" width="2.563rem"><path d="M0 0h24v24H0z" fill="none" /><path d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z" /></svg>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<body>
    <section class="container privacy-container">
        <div class="container">
            <h1>นโยบายความเป็นส่วนตัว</h1>
            <strong>
                1.บทนำ
                <br />
                <br />
            </strong>
            <p class="text-justify">
                1.1  ขอต้อนรับสู่ Filmlab แพลตฟอร์มที่ดำเนินการโดย Filmlab Limited, Filmlab (Thailand) Company Limited  และบริษัทในกลุ่มและบริษัทในเครือ (เรียกแยกและเรียกรวมกันว่า “Filmlab”, “เรา”, “พวกเรา” หรือ “ของเรา”) Filmlab มีหน้าที่รับผิดชอบภายใต้กฎหมายและข้อบังคับความเป็นส่วนตัวที่บังคับใช้(“กฎหมายคุ้มครองข้อมูลส่วนบุคคล”) อย่างจริงจัง และยึดมั่นต่อการเคารพสิทธิและให้ความสำคัญเกี่ยวกับความเป็นส่วนตัวของผู้ใช้เว็บไซต์และแอปพลิเคชันบนมือถือ Filmlab ทั้งหมด (เรียกรวมกันว่า “แพลตฟอร์ม”) (เราเรียกแพลตฟอร์มและบริการที่เรามอบให้ดังที่ระบุไว้ในแพลตฟอร์มของเราโดยรวมว่า (“บริการ”) และ “ผู้ใช้” หมายถึง ผู้ใช้ที่มีบัญชีซึ่งได้ลงทะเบียนกับเราและใช้แพลตฟอร์ม (เรียกแยกและเรียกรวมกันว่า “ผู้ใช้” “คุณ” หรือ “ของคุณ”) เราตระหนักถึงความสำคัญของข้อมูลส่วนบุคคลที่คุณมอบให้แก่เรา และเชื่อว่าเรามีหน้าที่รับผิดชอบในการจัดการ ปกป้อง และดำเนินการข้อมูลส่วนบุคคลของคุณอย่างเหมาะสม นโยบายความเป็นส่วนตัวนี้ (“นโยบายความเป็นส่วนตัว” หรือ “นโยบาย”) ได้รับการออกแบบมาเพื่อช่วยให้คุณเข้าใจเกี่ยวกับวิธีที่เราเก็บรวบรวม ใช้ เปิดเผย และ/หรือดำเนินการข้อมูลส่วนบุคคลที่คุณมอบให้แก่เราและ/หรือข้อมูลของคุณที่เราครอบครองไม่ว่าจะในปัจจุบันหรืออนาคต รวมทั้งยังเป็นข้อมูลประกอบการตัดสินใจก่อนที่คุณจะให้ข้อมูลส่วนตัวใดๆ แก่เรา โปรดอ่านนโยบายความเป็นส่วนตัวนี้โดยละเอียด หากคุณมีข้อสงสัยเกี่ยวกับข้อมูลเหล่านี้หรือข้อปฏิบัติว่าด้วยความเป็นส่วนตัวของเรา โปรดดูส่วนของหัวข้อ “มีคำถาม ข้อกังวล หรือคำร้องเรียนใช่หรือไม่ โปรดติดต่อเรา” ในตอนท้ายของนโยบายความเป็นส่วนตัวนี้
                <br />
                <br />
                1.2  “ข้อมูลส่วนบุคคล” หมายถึง ข้อมูลเกี่ยวกับบุคคลไม่ว่าจริงหรือเท็จที่สามารถใช้เป็นข้อมูลที่ระบุตัวตนของบุคคลผู้นั้น หรือจากข้อมูลดังกล่าวหรือข้อมูลอื่นๆ ที่องค์กรมีหรืออาจสามารถเข้าถึงได้ ตัวอย่างข้อมูลส่วนบุคคลที่พบบ่อยได้แก่ ชื่อ หมายเลขประจำตัว และข้อมูลการติดต่อ
                <br />
                <br />
                1.3  ในการใช้บริการการลงทะเบียนบัญชีกับเรา เยี่ยมชมแพลตฟอร์ม และ/หรือเข้าถึงบริการ คุณได้รับทราบและตกลงว่าคุณยอมรับข้อปฏิบัติ ข้อกำหนด และ/หรือนโยบายที่กำหนดไว้ในนโยบายความเป็นส่วนตัวนี้ และคุณยินยอมให้เราเก็บรวบรวม ใช้ เปิดเผย และ/หรือดำเนินการข้อมูลส่วนบุคคลของคุณดังที่ระบุไว้ในนโยบายความเป็นส่วนตัวนี้ หากคุณไม่ยินยอมให้เราดำเนินการข้อมูลส่วนบุคคลของคุณดังที่ระบุไว้ในนโยบายความเป็นส่วนตัวนี้ โปรดอย่าใช้บริการหรือเข้าถึงแพลตฟอร์ม หากเราเปลี่ยนแปลงนโยบายความเป็นส่วนตัวของเรา เราจะแจ้งให้คุณทราบซึ่งรวมถึงการโพสต์การเปลี่ยนแปลงดังกล่าวหรือนโยบายความเป็นส่วนตัวที่แก้ไขบนแพลตฟอร์ม เราขอสงวนสิทธิ์ในการแก้ไขนโยบายความเป็นส่วนตัวนี้ในทุกเมื่อโดยภายใต้ขอบเขตสูงสุดที่อนุญาตโดยกฎหมายที่ใช้บังคับในการเข้าใช้บริการหรือแพลตฟอร์มรวมถึงการทำคำสั่งซื้อผลิตภัณฑ์อย่างต่อเนื่องของคุณต่อไปภายหลังการแก้ไขนั้นถือว่าคุณรับทราบและยอมรับการแก้ไขของนโยบายความเป็นส่วนตัวนี้
                <br />
                <br />
                1.4  นโยบายนี้ใช้บังคับร่วมกับการบอกกล่าวข้อสัญญา ข้อตกลงให้ความยินยอมใดๆ ที่เกี่ยวข้องกับการเก็บรวบรวม ใช้ เปิดเผย และ/หรือประมวลผลข้อมูลส่วนบุคคลของคุณโดยเรา โดยนโยบายนี้จะไม่ได้มีผลบังคับเหนือกว่าการบอกกล่าว หรือข้อสัญญาและข้อตกลงใดๆ เว้นแต่เราจะได้กำหนดไว้โดยชัดแจ้งเป็นอย่างอื่น
                <br />
                <br />
                1.5  นโยบายนี้ใช้สำหรับทั้งผู้ซื้อและผู้ขายผู้ใช้บริการของเรา เว้นแต่จะได้กำหนดไว้โดยชัดแจ้งเป็นอย่างอื่น
                <br />
                <br />
                <br />
            </p>
            <strong>
                2.Filmlab จะเก็บรวบรวมข้อมูลส่วนบุคคลเมื่อใด?
                <br />
                <br />
            </strong>
            <p class="text-justify">
                2.1  เราจะ/อาจเก็บรวบรวมข้อมูลส่วนบุคคลของคุณเมื่อ:
                <br />
                <br />

                (ก) เมื่อคุณได้เข้าถึงและ/หรือใช้บริการหรือแพลตฟอร์มของเรา หรือลงทะเบียนสมัครบัญชีผู้ใช้กับเรา
                <br />
                <br />

                (ข) เมื่อคุณส่งแบบฟอร์ม รวมถึงแต่ไม่จำกัดเพียง แบบฟอร์มการสมัครหรือแบบฟอร์มอื่นๆ ที่เกี่ยวข้องกับผลิตภัณฑ์และบริการของเรา ไม่ว่าจะแบบออนไลน์หรือแบบฟอร์มเป็นเอกสาร
                <br />
                <br />

                (ค) เมื่อคุณทำข้อตกลงใดๆ หรือให้เอกสารหรือข้อมูลอื่นใดที่เกี่ยวข้องกับการติดต่อระหว่างคุณกับเราหรือเมื่อคุณใช้ผลิตภัณฑ์และบริการของเรา
                <br />
                <br />

                (ง) เมื่อคุณติดต่อกับเรา เช่น ผ่านทางโทรศัพท์ (ซึ่งจะได้รับการบันทึก) จดหมาย แฟกซ์ การประชุมแบบเห็นหน้ากัน แพลตฟอร์มสื่อทางสังคม และอีเมล รวมถึงเมื่อคุณได้ติดต่อกับตัวแทนให้บริการลูกค้า (customer service agents)
                <br />
                <br />

                (จ) เมื่อคุณใช้บริการทางอิเล็กทรอนิกส์ หรือติดต่อกับเราผ่านแพลตฟอร์มหรือใช้บริการ ซึ่งรวมถึงแต่ไม่จำกัดเพียงการใช้ผ่านคุกกี้ ซึ่งเราอาจปรับใช้เมื่อคุณใช้หรือเข้าถึงแอปพลิเคชันหรือเว็บไซต์
                <br />
                <br />

                (ฉ) เมื่อคุณได้อนุญาตโดยผ่านอุปกรณ์ของคุณ ให้เปิดเผยข้อมูลใดๆ แก่แอปพลิเคชันหรือแพลตฟอร์มของเรา
                <br />
                <br />

                (ช) เมื่อคุณเชื่อมโยงบัญชี Shopee กับบัญชีสื่อสังคมออนไลน์ (social media account) หรือบัญชีผู้ใช้งานอื่นของคุณ หรือใช้ฟีเจอร์สื่อสังคมออนไลน์อื่น(social media features) ภายใต้นโยบายการให้บริการของผู้ให้บริการฟีเจอร์นั้นๆ
                <br />
                <br />

                (ซ) เมื่อคุณดำเนินธุรกรรมผ่านบริการของเรา
                <br />
                <br />

                (ฌ) เมื่อคุณให้ความคิดเห็นหรือคำร้องเรียนแก่เรา
                <br />
                <br />

                (ญ) เมื่อคุณลงทะเบียนเข้าร่วมกิจกรรมการแข่งขัน
                <br />
                <br />

                (ฎ) เมื่อคุณส่งข้อมูลส่วนบุคคลของคุณให้แก่เราด้วยเหตุผลใดก็ตาม
                <br />
                <br />
                นโยบายดังกล่าวข้างต้นไม่ได้อ้างไว้โดยละเอียดถี่ถ้วนและเป็นเพียงตัวอย่างทั่วไปเมื่อเราเก็บรวบรวมข้อมูลส่วนบุคคลเกี่ยวกับคุณ
                <br />
                <br />
                <br />
            </p>
            <strong>
                3.Filmlab จะเก็บรวบรวมข้อมูลส่วนบุคคลใดไว้บ้าง?
                <br />
                <br />
            </strong>
            <p class="text-justify">
                3.1  ข้อมูลส่วนบุคคลที่ Shopee อาจเก็บรวบรวมนั้นจะรวมถึงแต่ไม่จำกัดเพียง:
                <br />
                <br />
                •  ชื่อ
                <br />
                <br />
                •  ที่อยู่อีเมล
                <br />
                <br />
                •  วันเกิด
                <br />
                <br />
                •  ที่อยู่สำหรับเรียกเก็บเงิน และ/หรือสำหรับจัดส่งผลิตภัณฑ์
                <br />
                <br />
                •  รายละเอียดบัญชีธนาคารและข้อมูลการชำระเงิน
                <br />
                <br />
                •  หมายเลขติดต่อ
                <br />
                <br />
                •  เพศ
                <br />
                <br />
                •  หมายเลขตามบัตรประชาชนหรือหนังสือเดินทาง
                <br />
                <br />
                •  ที่อยู่ตามบัตรประชาชนหรือหนังสือเดินทาง
                <br />
                <br />
                •  ข้อมูลเกี่ยวกับเครือข่ายของคุณ หรือบุคคลหรือบัญชีใดๆ ที่คุณติดต่อด้วย
                <br />
                <br />
                •  รูปภาพ หรือ เสียงหรือวิดีโอบันทึก
                <br />
                <br />
                •  ข้อมูลแสดงตัวตันที่ออกให้โดยหน่วยงานรัฐ หรือข้อมูลอื่นใดที่จำเป็นสำหรับเราในการตรวจสอบ (due diligence) การรู้จักตัวตนของลูกค้า (know your customer) การตรวจสอบยืนยันตัวตน (identity verification) การตรวจสอบเพื่อวัตถุประสงค์ในการป้องกันการฉ้อโกงหลอกลวง (fraud prevention)
                <br />
                <br />
                • ข้อมูลการติดต่อสื่อสารและการตลาด เช่น ความสนใจของคุณในการรับข้อมูลทางการตลาดจากเราและบุคคลอื่น รูปแบบการติดต่อสื่อสารที่คุณสนใจและประวัติข้อมูลการติดต่อสื่อสารกับเรา ผู้ให้บริการของเรา และบุคคลภายนอก
                <br />
                <br />
                •  ข้อมูลธุรกรรมและการเข้าใช้งาน ซึ่งรวมถึงรายละเอียดข้อมูลการค้นหารายการผลิตภัณฑ์ รายการคำสั่งซื้อ ข้อมูลการเข้าชมสื่อโฆษณาและเนื้อหาบนแพลตฟอร์ม และข้อมูลผลิตภัณฑ์และบริการอื่นที่เกี่ยวข้องกับคุณ
                <br />
                <br />
                •  ข้อมูลตำแหน่ง
                <br />
                <br />
                •  ข้อมูลอื่นใดเกี่ยวกับผู้ใช้เมื่อผู้ใช้ลงทะเบียนเข้าใช้บริการหรือแพลตฟอร์มของเรา และเมื่อผู้ใช้ใช้บริการหรือแพลตฟอร์ม รวมถึงข้อมูลที่เกี่ยวกับวิธีการใช้บริการหรือแพลตฟอร์มของผู้ใช้
                <br />
                <br />
                •  ข้อมูลส่วนบุคคลที่คุณอาจให้แก่เราผ่านทางแพลตฟอร์ม
                <br />
                <br />

                3.2  คุณตกลงจะไม่ส่งมอบข้อมูลใดๆ ที่ไม่ถูกต้องและ/หรือที่ทำให้เข้าใจผิดแก่เรา และคุณตกลงจะแจ้งให้เราทราบถึงความไม่ถูกต้องหรือการเปลี่ยนแปลงของข้อมูลนั้น เราสงวนสิทธิ์ที่จะขอให้ส่งมอบเอกสารเพิ่มเติมอื่นใดเพื่อการยืนยันข้อมูลที่คุณได้ให้แก่เราตามที่เราเห็นสมควร
                <br />
                <br />

                3.3  ในกรณีที่คุณลงทะเบียนเข้าเป็นผู้ใช้บริการของแพลตฟอร์มเราผ่านทางบัญชีผู้ใช้สื่อสังคมออนไลน์ (“Social Media Account”) หรือเชื่อมโยงบัญชี Shopee กับ Social Media Account ของคุณ หรือใช้ฟีเจอร์สื่อสังคมออนไลน์ใดๆของ Shopee (Shopee social media features) เราอาจเข้าถึงข้อมูลของคุณที่คุณได้ให้ไว้แก่ผู้ให้บริการ Social Media Account ของคุณโดยสมัครใจภายใต้นโยบายการให้บริการของผู้ให้บริการนั้น โดยเราจะจัดการและใช้ข้อมูลส่วนบุคคลของคุณภายใต้เงื่อนไขที่กำหนดไว้ในนโยบายความเป็นส่วนฉบับนี้เสมอ
                <br />
                <br />

                3.4  หากคุณไม่ประสงค์ให้เราเก็บรวบรวม ข้อมูล/ข้อมูลส่วนบุคคลดังที่กล่าวมาข้างต้น คุณอาจยกเลิกได้ทุกเมื่อผ่านทางแพลตฟอร์มหรือโดยการแจ้งความประสงค์ให้เจ้าหน้าที่คุ้มครองข้อมูลของเราทราบเป็นลายลักษณ์อักษรคุณสามารถอ่านข้อมูลเพิ่มเติมเกี่ยวกับการยกเลิกได้ที่ส่วนด้านล่างในหัวข้อ “วิธีที่คุณสามารถยกเลิก ลบ ร้องขอการเข้าถึง หรือแก้ไขข้อมูลที่คุณให้แก่เรา” อย่างไรก็ตาม โปรดทราบว่าการยกเลิกการเก็บรวบรวมข้อมูลส่วนบุคคลหรือถอนความยินยอมในการเก็บรวบรวม ใช้ แบ่งปัน หรือดำเนินการข้อมูลส่วนบุคคลของคุณกับเรานั้นอาจส่งผลต่อการใช้บริการของคุณ ตัวอย่างเช่น การยกเลิกการเก็บรวบรวมข้อมูลเกี่ยวกับตำแหน่งที่ตั้งจะเป็นการปิดใช้งานคุณลักษณะตามตำแหน่งที่ตั้ง
                <br /><br /><br />
            </p>
            <strong>
                4.การเก็บรวบรวมข้อมูลอื่น
                <br />
                <br />
            </strong>
            <p class="text-justify">
                4.1 ในการเข้าถึงเว็บแพลตฟอร์มและแอปพลิเคชันบนมือถือโดยส่วนใหญ่ อุปกรณ์ของคุณจะส่งข้อมูลซึ่งอาจมีข้อมูลของคุณซึ่งจะถูกบันทึกไว้โดยเซิร์ฟเวอร์ของเว็บเมื่อคุณเรียกดูแพลตฟอร์มของเรา ซึ่งโดยทั่วไปจะรวมถึงแต่ไม่จำกัดเพียง ที่อยู่ IP ของอุปกรณ์ของคุณ (Internet Protocol/IP address) ระบบปฏิบัติการคอมพิวเตอร์/อุปกรณ์เคลื่อนที่ เวอร์ชันของเบราว์เซอร์ ประเภทของอุปกรณ์เคลื่อนที่ คุณลักษณะของอุปกรณ์เคลื่อนที่ สิ่งบ่งชี้เฉพาะของอุปกรณ์ (unique device identifier/UDID) สิ่งบ่งชี้ของอุปกรณ์เคลื่อนที่ (mobile equipment identifier/MEID) ของอุปกรณ์เคลื่อนที่ของคุณที่อยู่เว็บเพจที่อ้างอิง (ถ้ามี) หน้าที่คุณเข้าชมผ่านบนเว็บแพลตฟอร์มและแอปพลิเคชันบนมือถือของเรา และเวลาที่เข้าชม และบางครั้งอาจรวมถึง "คุกกี้" (ซึ่งคุณสามารถปิดการใช้งานได้โดยการตั้งค่าการใช้งานอุปกรณ์ของคุณ) เพื่อช่วยให้แพลตฟอร์มจดจำการเข้าชมครั้งล่าสุดของคุณ เมื่อคุณเข้าสู่ระบบข้อมูลนี้จะเชื่อมโยงกับบัญชีผู้ใช้ของคุณ และข้อมูลนี้จะถูกนำไปใช้ในเชิงสถิติที่ไม่ระบุตัวตนเพื่อช่วยให้เราทำความเข้าใจเกี่ยวกับพฤติกรรมการใช้งานแพลตฟอร์มของเราโดยผู้เยี่ยมชม
                <br /><br />

                4.2  แอปพลิเคชันบนมือถือของเราอาจเก็บรวบรวมข้อมูลที่แม่นยำเกี่ยวกับตำแหน่งที่ตั้งของอุปกรณ์เคลื่อนที่ของคุณโดยใช้เทคโนโลยี เช่น GPS, Wi-Fi ฯลฯ เราเก็บรวบรวม ใช้ เปิดเผย และ/หรือประมวลผลข้อมูลนี้เพื่อวัตถุประสงค์ตามที่ได้ระบุไว้ในข้อ 6.1 ภายใต้วัตถุประสงค์ใดวัตถุประสงค์หนึ่งหรือหลายวัตถุประสงค์ ซึ่งรวมถึงแต่ไม่จำกัดเพียง บริการตามตำแหน่งที่ตั้งที่คุณร้องขอ หรือการส่งเนื้อหาที่เกี่ยวข้องให้แก่คุณตามตำแหน่งที่ตั้งของคุณ หรืออนุญาตให้คุณแบ่งปันตำแหน่งที่ตั้งของคุณให้แก่ผู้ใช้อื่นโดยเป็นส่วนหนึ่งของบริการภายใต้แอปพลิเคชันบนมือถือของเราสำหรับอุปกรณ์เคลื่อนที่ส่วนใหญ่ คุณสามารถถอนสิทธิ์ที่จะให้เราได้รับข้อมูลเกี่ยวกับตำแหน่งที่ตั้งของคุณผ่านการตั้งค่าบนอุปกรณ์ของคุณ หากคุณมีข้อสงสัยเกี่ยวกับวิธีปิดการใช้งานบริการเกี่ยวกับตำแหน่งที่ตั้งบนอุปกรณ์เคลื่อนที่ของคุณ โปรดติดต่อผู้ให้บริการอุปกรณ์เคลื่อนที่หรือผู้ผลิตอุปกรณ์ของคุณ
                <br /><br />


                4.3  เช่นเดียวกันกับเมื่อคุณดูเพจต่างๆ บนเว็บแพลตฟอร์มและแอปพลิเคชันบนมือถือของเรา เมื่อคุณเข้าชมเนื้อหาและโฆษณาและเข้าใช้งานซอฟต์แวร์อื่นๆ บนแพลตฟอร์มของเราหรือผ่านบริการของเรา ข้อมูลเดียวกันเกือบทั้งหมดจะถูกส่งมาถึงเรา (รวมถึงแต่ไม่จำกัดเพียง ที่อยู่ IP (IP Address) และระบบปฏิบัติการ ฯลฯ) แต่แทนที่จะส่งข้อมูลการเข้าชมหน้าต่างๆ ของคุณ อุปกรณ์ของคุณจะส่งข้อมูลเกี่ยวกับเนื้อหา โฆษณาที่เข้าชม และ/หรือซอฟต์แวร์ที่ติดตั้งผ่านบริการ และแพลตฟอร์มและเวลาที่เข้าชม ให้แก่เรา

                <br /><br /><br />
            </p>
            <strong>
                5.คุกกี้
                <br />
                <br />
            </strong>
            <p class="text-justify">
                5.1  เรา หรือบุคคลอื่นผู้ให้บริการในนามของเรา และบริษัทคู่ค้าสื่อโฆษณาของเรา อาจมีการใช้ “คุกกี้” หรือฟีเจอร์อื่นๆในบางคราวเพื่อช่วยให้เราหรือบุคคลภายนอกสามารถเก็บรวบรวมหรือเปิดเผยแบ่งปันข้อมูลเกี่ยวกับการใช้บริการหรือแพลตฟอร์มของเรา ซึ่งฟีเจอร์นี้จะช่วยให้เราปรับปรุงแพลตฟอร์มและบริการที่เรานำเสนอ หรือช่วยให้เรามอบบริการและฟีเจอร์ใหม่ๆ ได้ และ/หรือทำให้เราและบริษัทคู่ค้าสื่อโฆษณาสามารถนำเสนอเนื้อหาที่เกี่ยวข้องตามความสนใจของคุณ ซึ่งรวมถึงการทำโฆษณาติดตามลูกค้า “คุกกี้” คือตัวระบุต่างๆ ที่เก็บอยู่ในคอมพิวเตอร์หรืออุปกรณ์เคลื่อนที่ของคุณซึ่งบันทึกข้อมูลเกี่ยวกับคอมพิวเตอร์หรืออุปกรณ์ของคุณ วิธีและเวลาในการใช้หรือเยี่ยมชมบริการหรือแพลตฟอร์ม จำนวนผู้ใช้ และกิจกรรมอื่นๆภายในแพลตฟอร์มของเรา เราอาจเชื่อมโยงข้อมูลคุกกี้กับข้อมูลส่วนบุคคลของคุณ นอกจากนี้ คุกกี้ยังเชื่อมโยงกับข้อมูลเกี่ยวกับรายการที่คุณเลือกซื้อและ เว็บ เพจต่างๆที่คุณเข้าชมด้วย ซึ่งเราใช้ข้อมูลนี้เพื่อติดตามข้อมูลเกี่ยวกับรถเข็นสินค้า (shopping cart) ของคุณ เพื่อมอบเนื้อหาที่เหมาะสมกับความสนใจของคุณ เพื่อให้บริษัทคู่ค้าสื่อโฆษณาของเราสามารถนำเสนอโฆษณาบนไซต์ต่างๆ บนอินเตอร์เน็ต และเพื่อการวิเคราะห์ข้อมูล และเพื่อตรวจสอบการใช้บริการของเราแพลตฟอร์ม
                <br /><br />

                5.2  คุณอาจปฏิเสธการใช้คุกกี้ได้โดยเลือกการตั้งค่าที่เหมาะสมในเบราว์เซอร์หรืออุปกรณ์ของคุณ อย่างไรก็ดี โปรดทราบว่าหากคุณปฏิเสธการใช้คุกกี้ คุณอาจไม่สามารถใช้ฟังก์ชันการทำงานของแพลตฟอร์มหรือบริการได้อย่างเต็มที่

                <br /><br /><br />
            </p>

            <strong>
                6.เรามีวิธีการใช้ข้อมูลที่คุณให้แก่เราอย่างไรบ้าง?

                <br />
                <br />
            </strong>
            <p class="text-justify">
                6.1  เราอาจเก็บรวบรวม ใช้ เปิดเผย และ/หรือดำเนินการข้อมูลส่วนบุคคลของคุณเพื่อวัตถุประสงค์อย่างน้อยหนึ่งวัตถุประสงค์ดังต่อไปนี้
                <br /><br />
                (ก)  เพื่อพิจารณาและ/หรือดำเนินการการยื่นเรื่อง/ธุรกรรมของคุณกับเรา หรือธุรกรรมหรือการติดต่อสื่อสารของคุณกับบุคคลภายนอกผ่านบริการ
                <br /><br />
                (ข)  เพื่อจัดการดำเนินการ ให้ และ/หรือบริหารการใช้งานของคุณและ/หรือเพื่อเข้าถึงบริการและเว็บแพลตฟอร์มของเรา รวมถึงความสัมพันธ์และบัญชีผู้ใช้ของคุณกับเรา
                <br /><br />
                (ค)  เพื่อตอบรับ ดำเนินการ จัดการ หรือทำธุรกรรมให้เสร็จสมบูรณ์ และ/หรือทำตามการร้องขอเกี่ยวกับผลิตภัณฑ์และบริการของคุณ และแจ้งให้คุณทราบเกี่ยวกับปัญหาด้านการบริการและการดำเนินการเกี่ยวกับบัญชี ที่มีความผิดปกติ
                <br /><br />
                (ง)  เพื่อบังคับใช้เงื่อนไขการให้บริการหรือข้อตกลงสิทธิ์การใช้งานสำหรับผู้ใช้ที่เกี่ยวข้อง
                <br /><br />
                (จ)  เพื่อป้องกันความปลอดภัยและสิทธิ์ ทรัพย์สินส่วนบุคคล หรือความปลอดภัยของบุคคลอื่น
                <br /><br />
                (ฉ)  เพื่อการระบุตัวตน (identity) การตรวจสอบยืนยันตัวตน (verification) หรือการตรวจสอบ (due diligence)หรือ การรู้จักตัวตนของลูกค้า (Know your customer-KYC)
                <br /><br />
                (ช)  เพื่อประเมินและพิจารณาอนุมัติเกี่ยวกับข้อมูลความเสี่ยงและความสามารถด้านเครดิตและสินเชื่อของคุณสำหรับผลิตภัณฑ์สินเชื่อใดๆ
                <br /><br />
                (ซ)  เพื่อรักษาและควบคุมการอัปเดตซอฟต์แวร์และ/หรือการอัปเดตอื่นๆ และให้การสนับสนุนที่จำเป็นในบางคราวเพื่อให้แน่ใจว่าบริการของเราจะเป็นไปอย่างราบรื่น
                <br /><br />
                (ฌ)  เพื่อจัดการหรืออำนวยความสะดวกในการให้บริการลูกค้า ปฏิบัติตามคำสั่งของคุณ จัดการหรือตอบข้อซักถามที่ได้รับ (หรืออ้างว่าได้รับ) จากคุณหรือในนามของคุณ
                <br /><br />
                (ญ)  เพื่อติดต่อหรือสื่อสารกับคุณผ่านการโทรด้วยเสียง ข้อความ และ/หรือข้อความแฟกซ์ อีเมล และ/หรือการส่งไปรษณีย์ หรือในรูปแบบอื่นใด เพื่อวัตถุประสงค์ในการบริหารและ/หรือจัดการความสัมพันธ์ระหว่างคุณกับเราหรือการใช้บริการของเรา เช่นว่าแต่ไม่จำกัดเพียง การสื่อสารข้อมูลด้านการจัดการที่เกี่ยวเนื่องกับบริการของเรากับคุณ คุณรับทราบและยอมรับว่าการสื่อสารดังกล่าวของเรานั้นอาจเป็นด้วยวิธีการส่งจดหมายโต้ตอบ เอกสารหเพื่ออนุญาตให้บุคคลอื่นปฏิสัมพันธ์ เชื่อมต่อกับคุณ หรือมองเห็นกิจกรรมบางอย่างของคุณบนแพลตฟอร์ม และรวมถึงเพื่อแจ้งให้คุณทราบเมื่อผู้ใช้คนอื่นส่งข้อความส่วนตัว โพสต์ความคิดเห็นให้คุณบนแพลตฟอร์ม หรือเชื่อมต่อกับคุณด้วยการใช้ฟีเจอร์สื่อสังคมออนไลน์อื่น (social media features) บนแพลตฟอร์มรือการแจ้งประกาศแก่คุณ ซึ่งอาจเกี่ยวข้องกับการเปิดเผยข้อมูลส่วนบุคคลของคุณบางประการบนหน้าซอง/หีบห่อจดหมายด้านนอก เพื่อการจัดส่งสิ่งดังกล่าว
                <br /><br />
                (ฎ)  เพื่ออนุญาตให้ผู้ใช้อื่นปฏิสัมพันธ์ เชื่อมต่อกับคุณ หรือมองเห็นกิจกรรมบางอย่างของคุณบนแพลตฟอร์ม และรวมถึงเพื่อแจ้งให้คุณทราบเมื่อผู้ใช้คนอื่นส่งข้อความส่วนตัว โพสต์ความคิดเห็นให้คุณบนแพลตฟอร์ม หรือเชื่อมต่อกับคุณด้วยการใช้ฟีเจอร์สื่อสังคมออนไลน์อื่น (social media features)บนแพลตฟอร์ม
                <br /><br />
                (ฏ)  เพื่อการศึกษาวิจัย วิเคราะห์ และพัฒนากิจกรรมต่างๆ (รวมถึงแต่ไม่จำกัดเพียง การวิเคราะห์ข้อมูล การสำรวจ การพัฒนาผลิตภัณฑ์และบริการ และ/หรือ การวิเคราะห์ข้อมูลตามความสนใจหรือพฤติกรรมของคุณ) เพื่อวิเคราะห์การใช้บริการ เพื่อแนะนำผลิตภัณฑ์และ/หรือ บริการตามความสนใจของคุณ เพื่อนำไปปรับปรุงบริการหรือผลิตภัณฑ์ของเรา และ/หรือช่วยเสริมประสบการณ์ของลูกค้า
                <br /><br />
                (ฐ)  เพื่อให้สามารถตรวจสอบและทำการสำรวจและอื่นๆ เพื่อตรวจสอบขนาดและองค์ประกอบของกลุ่มเป้าหมายของเรา และทำความเข้าใจเกี่ยวกับประสบการณ์ที่ลูกค้าได้รับจากบริการของ Shopee
                <br /><br />
                (ฑ)  เพื่อการตลาดและโฆษณา สำหรับกิจกรรมส่งเสริมการตลาด การดังกล่าวนี้เราจะแจ้งบอกกล่าวสื่อสารในวิธีการและรูปแบบต่างๆ เกี่ยวกับการทำการตลาด และ ข้อมูลและสื่อเกี่ยวกับกิจกรรมส่งเสริมการตลาดที่เกี่ยวข้องกับผลิตภัณฑ์และ/หรือบริการ (ซึ่งรวมถึงแต่ไม่จำกัดเพียง ผลิตภัณฑ์และ/หรือบริการของบุคคลอื่นใดที่ Shopee อาจทำร่วมกันหรือมีข้อตกลงระหว่างกัน)   ซึ่ง Shopee (และ/หรือ บริษัทในเครือ หรือ บริษัทที่เกี่ยวข้อง) อาจจำหน่าย ทำการตลาด หรือส่งเสริมการขาย ทั้งสำหรับผลิตภัณฑ์หรือบริการที่มีอยู่แล้วในขณะนี้และที่จะจัดให้มีขึ้นในภายหลัง ซึ่งคุณสามารถยกเลิกการรับข้อมูลโฆษณาทางการตลาดได้ตลอดเวลาโดยการเลือกฟังก์ชั่นเลิกติดตาม (unsubscribe function) ที่จัดให้มีในสื่อการตลอดอิเล็กทรอนิกส์ เราอาจใช้ข้อมูลสำหรับติดต่อของคุณพื่อส่งจดหมาย หรือสื่อการตลาดจากเรา หรือบริษัทที่เกี่ยวข้อง  กฎหมายคุ้มครองข้อมูลส่วนบุคคล
                <br /><br />
                (ฒ)  เพื่อตอบสนองต่อกระบวนการทางกฎหมาย หรือปฏิบัติตามหรือเป็นไปตามกฎหมายที่บังคับใช้ ข้อกำหนดของภาครัฐหรือตามกฎข้อบังคับภายใต้อำนาจการพิจารณาที่เกี่ยวข้อง หรือเมื่อเราเชื่อโดยสุจริตว่าการเปิดเผยข้อมูลของคุณนั้นเป็นสิ่งจำเป็นที่เราต้องกระทำ รวมถึงแต่ไม่จำกัดเพียง การดูแลให้เป็นไปตามข้อกำหนดเพื่อทำให้การเปิดเผยข้อมูลนั้นเป็นไปตามข้อกำหนดของกฎหมายที่ Shopee หรือบริษัทที่เกี่ยวข้องหรือบริษัทในเครือต้องปฏิบัติตาม (รวมถึงการแสดงชื่อ ข้อมูลการติดต่อ และชื่อบริษัท ของคุณ หากใช้บังคับ)
                <br /><br />
                (ณ)  เพื่อจัดทำข้อมูลสถิติและงานวิจัยเพื่อการรายงานภายในองค์กรและตามกฎหมาย และ/หรือตามข้อกำหนดเกี่ยวกับการจัดเก็บบันทึก
                <br /><br />
                (ด)  เพื่อปฏิบัติตามขั้นตอนการตรวจสอบประวัติความเป็นมาทางธุรกิจหรือกิจกรรมการคัดกรองอื่นใด (รวมถึงแต่ไม่จำกัดเพียง การตรวจสอบประวัติความเป็นมา) ซึ่งเป็นไปตามข้อผูกพันทางกฎหมายหรือตามกฎข้อบังคับ หรือกระบวนการจัดการความเสี่ยงของเราซึ่งกฎหมายได้กำหนดไว้หรือที่เราได้เป็นผู้นำมาใช้
                <br /><br />
                (ต)  เพื่อตรวจสอบบริการของเราหรือ ธุรกิจของ Filmlab
                <br /><br />
                (ถ)  เพื่อป้องกันและตรวจสอบ การละเมิดหรือสงสัยว่าจะเป็นการกระทำละเมิดเกี่ยวกับข้อกำหนดในเงื่อนไขการให้บริการของเรา การฉ้อโกง กิจกรรมที่ผิดกฎหมาย การละเว้นหรือการประพฤติผิด ไม่ว่าจะเกี่ยวข้องกับการใช้บริการของเราหรือกิจกรรมอื่นใดอันเกิดจากความสัมพันธ์ของคุณกับเรา
                <br /><br />
                (ธ)  เพื่อตอบสนองต่อการเรียกร้องหรือการเรียกร้องโดยข่มขู่ที่กระทำต่อ Filmlab หรือการเรียกร้องอื่นที่อ้างว่า “เนื้อหา” ละเมิดสิทธิของบุคคลอื่น
                <br /><br />
                (ท)  เพื่อจัดเก็บ โฮสต์ สำรองข้อมูล (ไม่ว่าจะเพื่อการกู้คืนจากความเสียหายหรือเหตุอื่นใด) ข้อมูลส่วนบุคคลของคุณ ไม่ว่าจะอยู่ในหรือนอกอำนาจการพิจารณา
                <br /><br />
                (น)  เพื่อจัดการและ/หรือช่วยอำนวยความสะดวกให้แก่ธุรกรรมเกี่ยวกับทรัพย์สินของธุรกิจหรือธุรกรรมเกี่ยวกับทรัพย์สินของธุรกิจที่มีศักยภาพ ซึ่งธุรกรรมดังกล่าวเกี่ยวข้องกับ Filmlab ในฐานะผู้มีส่วนร่วมหรือเกี่ยวข้องกับบริษัทที่เกี่ยวข้องหรือบริษัทในเครือของ Filmlab ในฐานะผู้มีส่วนร่วมเท่านั้น หรือเกี่ยวข้องกับ Filmlab และ/หรือบริษัทหรือบริษัทในเครือที่เกี่ยวข้องของ Filmlab อย่างน้อยหนึ่งแห่งในฐานะผู้มีส่วนร่วม และอาจมีองค์กรภายนอกที่เป็นผู้มีส่วนร่วมในธุรกรรมดังกล่าว "ธุรกรรมเกี่ยวกับทรัพย์สินของธุรกิจ" หมายถึง การซื้อ ขาย ให้เช่า ควบรวม การควบ หรือการซื้อกิจการอื่นใด การจำหน่ายจ่ายโอนหรือการให้เงินทุนแก่องค์กรหรือส่วนหนึ่งส่วนใดขององค์กรหรือธุรกิจหรือทรัพย์สินอื่นใดขององค์กร และ/หรือ
                <br /><br />
                (บ)  วัตถุประสงค์อื่นใดที่เราได้แจ้งแก่คุณ ณ เวลาที่ได้รับความยินยอมจากคุณ (รวมเรียกว่า “วัตถุประสงค์”)
                <br /><br />

                6.2  คุณรับทราบ ยินยอมและตกลงว่า Filmlab อาจเข้าถึง เก็บรักษา และเปิดเผย ข้อมูลในบัญชีผู้ใช้ของคุณและรวมถึง “เนื้อหา”  ในกรณีที่ต้องปฏิบัติตามกฎหมาย หรือตามคำสั่งศาล หรือคำสั่งจากหน่วยงานรัฐใดๆ ที่มีเขตอำนาจบังคับต่อ Filmlab หรือตามความเชื่อโดยสุจริตว่าต้องกระทำการดังกล่าวเพื่อ (ก) ปฏิบัติตามขั้นตอนของกฎหมายใดๆ (ข) ปฏิบัติตามคำสั่งจากหน่วยงานรัฐใดๆ ที่มีเขตอำนาจบังคับต่อ Filmlab (ค) บังคับให้เป็นไปตามเงื่อนไขการให้บริการและนโยบายความเป็นส่วนตัวนี้ (ง) ปฏิบัติตามข้อเรียกร้องใดๆ ไม่ว่าโดยข่มขู่หรือตามความเป็นจริง ที่ร้องต่อ Shopee หรือตามข้อเรียกร้องใดๆ จากการที่ “เนื้อหา” นั้นละเมิดสิทธิใดๆ ของบุคคลอื่น (จ) ปฏิบัติตามคำร้องขอของคุณในส่วนการบริการลูกค้า หรือ (ฉ) ปกป้องสิทธิ รักษาความปลอดภัยในทรัพย์สินและบุคคลของ Filmlab ผู้ใช้ และ/หรือสาธารณะ
                <br /><br />


                6.3  เนื่องจากวัตถุประสงค์ที่เราจะเก็บรวบรวม ใช้ เปิดเผย และ/หรือดำเนินการข้อมูลส่วนบุคคลของคุณขึ้นอยู่กับสถานการณ์เฉพาะหน้าวัตถุประสงค์ดังกล่าวอาจไม่ปรากฎในข้างต้น อย่างไรก็ตาม เราจะแจ้งให้คุณทราบถึงวัตถุประสงค์ดังกล่าว ณ เวลาที่ขอรับความยินยอมจากคุณ เว้นแต่การดำเนินการข้อมูลที่เกี่ยวข้องโดยไม่ได้รับความยินยอมจากคุณนั้นเป็นไปตามที่กฎหมายคุ้มครองข้อมูลส่วนบุคคลกำหนดไว้



                <br /><br /><br />
            </p>
            <strong>
                7.Filmlab คุ้มครองและเก็บรักษาข้อมูลส่วนบุคคลของลูกค้าอย่างไรบ้าง?

                <br />
                <br />
            </strong>
            <p class="text-justify">
                7.1  เรานำมาตรการด้านความปลอดภัยต่างๆ ที่หลากหลายมาใช้ด้วยความพยายามอย่างดีที่สุด เพื่อให้แน่ใจว่าข้อมูลส่วนบุคคลของคุณที่อยู่ในระบบของเรานั้นมีความปลอดภัย ข้อมูลส่วนบุคคลของผู้ใช้จะถูกเก็บไว้ในเครือข่ายที่มีความปลอดภัย และสามารถเข้าถึงได้โดยพนักงานจำนวนจำกัดเท่านั้น ซึ่งจะเป็นบุคคลที่มีสิทธิพิเศษในการเข้าถึงระบบดังกล่าว อย่างไรก็ตาม เราไม่สามารถรับประกันความปลอดภัยของข้อมูลส่วนบุคคลของคุณได้อย่างสมบูรณ์
                <br /><br />
                7.2  เราจะรักษาข้อมูลส่วนบุคคลของคุณตามกฎหมายคุ้มครองข้อมูลส่วนบุคคลและ/หรือกฎหมายอื่นที่เกี่ยวข้อง ซึ่งเราจะทำลายหรือไม่ระบุชื่อข้อมูลส่วนบุคคลของคุณทันทีที่มีเหตุผลอันเชื่อได้ว่าi)วัตถุประสงค์ของการเก็บรวบรวมข้อมูลส่วนบุคคลนั้นไม่ตรงกับการรักษาข้อมูลส่วนบุคคลดังกล่าวไว้อีกต่อไป และ (ii)ไม่จำเป็นต้องรักษาข้อมูลส่วนบุคคลดังกล่าวเพื่อวัตถุประสงค์ทางก ฎหมายหรือธุรกิจอีกต่อไป และ(iii)ไม่มีเหตุอันจะอ้างประโยชน์อันชอบธรรมในการเก็บรักษาข้อมูลส่วนบุคคลดังกล่าวได้อีกต่อไป หากคุณหยุดการใช้งานแพลตฟอร์ม หรือสิทธิการใช้งานแพลตฟอร์มและ/หรือบริการของคุณถูกเพิกถอนหรือสิ้นสุดลง เราอาจจัดเก็บ ใช้ และ/หรือเปิดเผยข้อมูลส่วนบุคคลต่อไปได้ตามกฎหมายคุ้มครองข้อมูลส่วนบุคคลและข้อผูกพันของเราภายใต้กฎหมายคุ้มครองข้อมูลส่วนบุคคลนี้ภายใต้กฎหมายที่บังคับใช้ เราอาจทำลายข้อมูลส่วนบุคคลของคุณอย่างปลอดภัยโดยไม่ต้องแจ้งให้ทราบล่วงหน้า

                <br /><br /><br />
            </p>
            <strong>
                8.Filmlab เปิดเผยข้อมูลที่รวบรวมจากผู้เยี่ยมชมให้แก่บุคคลภายนอกหรือไม่?
                <br />
                <br />
            </strong>
            <p class="text-justify">
                8.1  ในการดำเนินธุรกิจของเรา เราอาจจำเป็นต้องใช้ ประมวลผล เปิดเผยข้อมูลและ/หรือโอนส่วนบุคคลของคุณให้แก่ผู้ให้บริการซึ่งเป็นบุคคลภายนอก ตัวแทน และ/หรือบริษัทในเครือ หรือบริษัทที่เกี่ยวข้องของเรา และ/หรือบุคคลที่สามอื่นๆ ซึ่งอาจตั้งอยู่ในหรือนอกประเทศสิงคโปร์ เพื่อวัตถุประสงค์ดังที่ระบุไว้ในข้อ 6.1 ข้างต้น สำหรับหนึ่งหรือหลายวัตถุประสงค์ ผู้ให้บริการซึ่งเป็นบุคคลภายนอก ตัวแทน และ/หรือบริษัทในเครือ หรือบริษัทที่เกี่ยวข้องของเรา และ/หรือบุคคลภายนอกอื่นๆ ดังกล่าวนั้นอาจดำเนินการข้อมูลส่วนบุคคลของคุณในนามของเราหรือในลักษณะอื่นใดเพื่อวัตถุประสงค์ดังที่ระบุไว้ในข้อ 6.1 ข้างต้นสำหรับหนึ่งหรือหลายวัตถุประสงค์ เรามุ่งมั่นที่จะทำให้มั่นใจว่าบุคคลภายนอกและบริษัทในเครือของเราเก็บรักษาข้อมูลส่วนบุคคลของคุณให้ปลอดภัยจากการเข้าถึง การเก็บรวบรวม การใช้ การเปิดเผย การประมวลผลโดยมิชอบ หรือจากความเสี่ยงใดในลักษณะเดียวกัน และจัดเก็บข้อมูลส่วนบุคคลของคุณเพียงตราบเท่าที่ข้อมูลส่วนบุคคลของคุณจำเป็นสำหรับวัตถุประสงค์ที่ระบุไว้ในข้อ 6.1 ข้างต้นเท่านั้น บุคคลภายนอกดังกล่าวรวมถึงแต่ไม่จำกัดเพียง:
                <br /><br />
                (ก)  บริษัทในเครือ บริษัทในกลุ่มและบริษัทที่เกี่ยวข้องของเรา
                <br /><br />
                (ข)  ผู้ซื้อหรือผู้ขายที่คุณได้ทำธุรกรรมหรือได้ติดต่อด้วยผ่านทางแพลตฟอร์ม หรือเกี่ยวกับการใช้บริการของเราเพื่อ วัตถุประสงค์ ตามที่ระบุไว้ข้างต้น
                <br /><br />
                (ค)  ผู้ใช้อื่นของเว็บแพลตฟอร์มเพื่อวัตถุประสงค์ที่ระบุไว้ในข้อ 6.1 ข้างต้นสำหรับหนึ่งหรือหลายวัตถุประสงค์
                <br /><br />
                (ง)  ผู้รับจ้าง ตัวแทน ผู้ให้บริการ และบุคคลภายนอกอื่นๆ ที่เราใช้เพื่อสนับสนุนธุรกิจของเรา บุคคลเหล่านี้รวมถึงแต่ไม่จำกัดเพียง บุคคลดังกล่าวข้างต้นซึ่งเป็นผู้ให้บริการด้านการบริหารจัดการหรือให้บริการด้านอื่นๆ เช่น บริษัทรับส่งจดหมาย บริษัทที่ให้บริการขนส่ง (logistics service)บริษัทที่ให้บริการทางการเงิน(financial services) บริษัทคู่ค้าสื่อโฆษณาและการตลาด บริษัทที่ให้บริการด้านโทรคมนาคม บริษัทที่ให้บริการด้านเทคโนโลยีสารสนเทศ และศูนย์ข้อมูล
                <br /><br />
                (จ)  หน่วยงานรัฐและหน่วยงานกำกับดูแลต่างๆ ที่มีอำนาจควบคุมกำกับดูแลเหนือ Filmlab หรือตามที่ได้รับอนุญาตตามที่ระบุไว้ในข้อ 6.2
                <br /><br />
                (ฉ)  ผู้ซื้อ ผู้รับโอนหรือผู้สืบตำแหน่งในกรณีควบรวมกิจการ ถอนทุน ปรับโครงสร้าง จัดระเบียบองค์กรใหม่ เลิกกิจการ หรือการขายหรือโอนสินทรัพย์บางส่วนหรือทั้งหมดของ Shopee ไม่ว่าจะเป็นการดำเนินงานต่อเนื่องหรือเป็นส่วนหนึ่งของการล้มละลาย การเลิกกิจการทั้งหมด หรือการดำเนินการที่คล้ายกัน ซึ่งข้อมูลส่วนบุคคลเกี่ยวกับผู้ใช้บริการของเราที่ Shopee ถือครองอยู่เป็นส่วนหนึ่งของสินทรัพย์ที่ถ่ายโอนไป
                <br /><br />
                (ซ)  บุคคลภายนอกที่เราได้เปิดเผยข้อมูลให้เพื่อวัตถุประสงค์ที่ระบุไว้ในข้อ 6.1 ข้างต้นสำหรับหนึ่งหรือหลายวัตถุประสงค์ และบุคคลภายนอกดังกล่าวอาจเก็บรวบรวมและประมวลผลข้อมูลส่วนบุคคลของคุณเพื่อวัตถุประสงค์ที่ระบุไว้ในข้อ 6.1 ข้างต้นสำหรับหนึ่งหรือหลายวัตถุประสงค์
                <br /><br />

                8.2  เราอาจแบ่งปันข้อมูล ซึ่งรวมถึงข้อมูลเชิงสถิติและประชากรศาสตร์เกี่ยวกับผู้ใช้และข้อมูลการใช้บริการของผู้ใช้ของเราให้แก่บริษัทคู่ค้าสื่อโฆษณาและบุคคลอื่นผู้ซึ่งจัดหาโฆษณา ผู้ทำโฆษณาแบบติดตามลูกค้า และ/หรือการเขียนโปรแกรม
                <br /><br />

                8.3  เพื่อหลีกเลี่ยงข้อสงสัย ในกรณีที่กฎหมายคุ้มครองข้อมูลส่วนบุคคลหรือกฎหมายที่เกี่ยวข้องอื่นๆ อนุญาตให้องค์กร เช่น องค์กรของเราให้เก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคลของคุณโดยไม่ต้องรับความยินยอมจากคุณ ให้การอนุญาตตามกฎหมายนั้นใช้บังคับต่อไป โดยเป็นไปภายใต้กฎหมายที่ใช้บังคับกำหนด เราอาจใช้ข้อมูลส่วนบุคคลของคุณภายใต้ฐานการประมวลผลข้อมูลทางกฎหมายที่เกี่ยวข้อง โดยอาจอ้างอิงฐานหนึ่งหรือหลายฐานประกอบกันตามที่เกี่ยวข้องกับวัตถุประสงค์นั้นๆ ตามที่ระบุไว้ในข้อ 6.1 ข้างต้น ซึ่งรวมถึง ฐานทางกฎหมายเพื่อการปฏิบัติหน้าที่ตามกฎหมาย ฐานสัญญาเพื่อการปฏิบัติทางสัญญากับคุณ เพื่อประโยชน์โดยชอบด้วยกฎหมายและเหตุผลของเราในการใช้ข้อมูลซึ่งเราจะคำนึงถึงการกระทบต่อสิทธิของคุณเกี่ยวกับการคุ้มครองข้อมูลส่วนบุคคล เพื่อประโยชน์อื่นใดตามที่คุณได้ให้ความยินยอมซึ่งจะได้ขอจากคุณเป็นครั้งคราวไปเมื่อจำเป็น หรือเมื่อจำเป็นเกี่ยวกับการร้องเรียนทางกฎหมายใดๆ
                <br /><br />

                8.4  บุคคลภายนอกอาจปิดกั้นหรือเข้าถึงข้อมูลส่วนบุคคลที่ส่งต่อไปยังหรืออยู่ในแพลตฟอร์มอย่างผิดกฎหมาย เทคโนโลยีอาจทำงานผิดปกติหรือไม่ทำงานตามที่คาดหวัง หรือบุคคลใดอาจเข้าถึง ใช้ข้อมูลอย่างไม่เหมาะสม หรือใช้ข้อมูลในทางที่ผิด โดยที่ไม่ได้มีสาเหตุมาจากเรา ถึงกระนั้นก็ตาม เราจะใช้มาตรการด้านความปลอดภัยที่สมเหตุสมผลเพื่อคุ้มครองข้อมูลส่วนบุคคลของคุณตามที่กำหนดไว้ภายใต้กฎหมายคุ้มครองข้อมูลส่วนบุคคล อย่างไรก็ดี เราไม่สามารถรับประกันถึงความปลอดภัยได้โดยสิ้นเชิงในกรณีที่มิอาจหลีกเลี่ยงได้ เช่นว่าแต่ไม่จำกัดเพียง เมื่อการเปิดเผยข้อมูลโดยไม่ได้รับอนุญาตเกิดจากการเจาะข้อมูลที่ประสงค์ร้ายที่มีความซับซ้อนโดยผู้ที่ไม่พอใจ โดยที่ไม่ได้มีสาเหตุมาจากเรา

                <br /><br /><br />
            </p>
            <strong>
                9.ข้อมูลของเด็ก
                <br />
                <br />
            </strong>
            <p class="text-justify">
                บริการนี้ไม่ได้มุ่งหมายไว้ให้บริการสำหรับเด็กที่มีอายุต่ำกว่า  13  ปี  เราจะไม่รวบรวม หรือเก็บรักษาข้อมูลส่วนตัวใดๆ หรือข้อมูลที่ไม่เป็นส่วนตัวที่สามารถระบุยืนยันตัวตนได้จากผู้ซึ่งมีอายุต่ำกว่า 13 ปี หรือจัดให้ส่วนหนึ่งส่วนใดของแพลตฟอร์มหรือบริการอื่นๆ ของเราแสดงแก่เด็กที่มีอายุต่ำกว่า 13 ปี โดยตั้งใจ ทั้งนี้ เราขอให้บุคคลผู้เป็นบิดามารดาหรือผู้ปกครองตามกฎหมาย โปรดดูแลไม่ให้เด็กที่อยู่ภายใต้อำนาจปกครองของท่านส่งมอบข้อมูลส่วนตัวให้แก่ Shopeeแต่ในกรณีที่มีการส่งมอบข้อมูลส่วนตัวของเด็กที่มีอายุต่ำกว่า 13 ปีที่อยู่ภายใต้อำนาจปกครองของท่านให้แก่Shopeeถือว่าท่านยินยอมให้เราครอบครองข้อมูลส่วนตัวนั้น และท่านยอมรับและตกลงที่จะผูกพันตามเงื่อนไขที่กำหนดไว้ในนโยบายความเป็นส่วนตัวนี้ในนามของเด็กผู้นั้น อย่างไรก็ตาม เราจะทำการปิดบัญชีที่เด็กใช้และจะถอนและ/หรือลบข้อมูลส่วนบุคคลใดๆ ซึ่งเราเชื่อว่าถูกส่งมาจากเด็กที่มีอายุต่ำกว่า 13 ปี โดยปราศจากความยินยอมจากบุคคลผู้เป็นบิดามารดาหรือผู้ปกครองตามกฎหมาย
                <br /><br /><br />
            </p>
            <strong>
                10.ข้อมูลที่รวบรวมโดยบุคคลภายนอก
                <br />
                <br />
            </strong>
            <p class="text-justify">
                10.1  แพลตฟอร์มของเราใช้ Google Analytics ซึ่งเป็นบริการวิเคราะห์เว็บที่ให้บริการโดย Google, Inc. (“Google”) Google Analytics ใช้คุกกี้ ซึ่งเป็นไฟล์ข้อความที่เก็บไว้ในคอมพิวเตอร์ของคุณเพื่อช่วยเว็บแพลตฟอร์มวิเคราะห์วิธีการใช้งานของผู้ใช้ ข้อมูลที่คุกกี้สร้างขึ้นเกี่ยวกับการใช้งานเว็บแพลตฟอร์ม (รวมถึงที่อยู่ IP ของคุณ) จะถูกส่งและจัดเก็บบนเซิร์ฟเวอร์โดย Google ในประเทศสหรัฐอเมริกา Google จะใช้ข้อมูลนี้เพื่อประเมินการใช้งานเว็บแพลตฟอร์ม รวบรวมรายงานเกี่ยวกับกิจกรรมที่เกิดขึ้นในเว็บแพลตฟอร์มสำหรับผู้ให้บริการเว็บแพลตฟอร์ม และให้บริการด้านอื่นๆ ที่เกี่ยวข้องกับกิจกรรมของเว็บแพลตฟอร์มและการใช้งานอินเทอร์เน็ต Google ยังอาจส่งข้อมูลนี้ให้แก่บุคคลภายนอกตามที่กฎหมายได้กำหนดไว้ หรือเมื่อบุคคลภายนอกดังกล่าวดำเนินการประมวลผลข้อมูลในนามของ Google Google จะไม่เชื่อมโยงที่อยู่ IP ของคุณกับข้อมูลอื่นที่ Google เก็บรักษาไว้
                <br /><br />

                10.2  เราและบุคคลภายนอก อาจให้บริการดาวน์โหลดแอปพลิเคชันซอฟต์แวร์ในบางคราวเพื่อให้คุณสามารถใช้บริการหรือใช้งานผ่านบริการ แอปพลิเคชันเหล่านี้อาจเข้าถึงโดยแยกกัน และอนุญาตให้บุคคลภายนอกเรียกดูข้อมูลที่ระบุตัวตนของคุณ ได้แก่ ชื่อ ID ผู้ใช้ และที่อยู่ IP ของคอมพิวเตอร์ของคุณ หรือข้อมูลอื่นใด เช่น คุกกี้ ที่คุณอาจได้ติดตั้งไว้ก่อนหน้านี้ หรือที่แอปพลิเคชันหรือเว็บแพลตฟอร์มของบุคคลภายนอกได้ติดตั้งไว้ให้แก่คุณ นอกจากนี้ แอปพลิเคชันเหล่านี้อาจขอให้คุณให้ข้อมูลเพิ่มเติมแก่บุคคลภายนอกโดยตรง ผลิตภัณฑ์หรือบริการของบุคคลภายนอกที่จัดหามาผ่านแอปพลิเคชั่นเหล่านี้ไม่ใช่ผลิตภัณฑ์หรือบริการของ Shopee หรือ Shopee ไม่ได้เป็นผู้ควบคุม ขอแนะนำให้อ่านข้อกำหนดและนโยบายอื่นๆ ที่เผยแพร่โดยบุคคลภายนอกดังกล่าวบนเว็บแพลตฟอร์มเหล่านั้นหรือเว็บแพลตฟอร์มอื่นๆ

                <br /><br /><br />
            </p>
            <strong>
                11.การปฏิเสธความรับผิดชอบเกี่ยวกับความปลอดภัยและแพลตฟอร์มของบุคคลภายนอก
                <br />
                <br />
            </strong>
            <p class="text-justify">
                11.1  เราไม่รับประกันว่าข้อมูลส่วนบุคคลและ/หรือข้อมูลอื่นที่คุณให้แก่แพลตฟอร์มของบุคคลภายนอกจะมีความปลอดภัย เรานำมาตรการด้านความปลอดภัยต่างๆ มาใช้เพื่อรักษาความปลอดภัยให้กับข้อมูลส่วนบุคคลของคุณซึ่งอยู่ในความครอบครองหรือควบคุมของเรา ข้อมูลส่วนบุคคลของผู้ใช้จะถูกเก็บไว้ในเครือข่ายที่มีความปลอดภัย และสามารถเข้าถึงได้โดยพนักงานจำนวนจำกัดเท่านั้น ซึ่งจะเป็นบุคคลที่มีสิทธิพิเศษในการเข้าถึงระบบดังกล่าว และต้องปกป้องข้อมูลส่วนบุคคลที่เป็นความลับ เมื่อคุณส่งคำสั่งซื้อหรือเข้าถึงข้อมูลส่วนบุคคลของคุณ เราขอเสนอให้ใช้เซิร์ฟเวอร์ที่มีความปลอดภัย ข้อมูลส่วนบุคคลหรือข้อมูลที่ละเอียดอ่อนทั้งหมดที่คุณให้นั้นจะถูกนำไปเข้ารหัสไว้ในฐานข้อมูลของเราเพื่อให้เข้าถึงได้เฉพาะตามที่ระบุข้างต้นเท่านั้น
                <br /><br />

                11.2  ด้วยความพยายามที่จะเพิ่มประโยชน์ให้แก่คุณ เราอาจเลือกเว็บแพลตฟอร์มของบุคคลภายนอกต่างๆ ที่จะเชื่อมโยงหรือติดตั้งภายในแพลตฟอร์ม เรายังอาจเข้าร่วมในการพัฒนาแบรนด์ร่วมหรือสร้างความสัมพันธ์อื่นใด เพื่อนำเสนอธุรกรรมอีคอมเมิร์ซ และ/หรือบริการและคุณลักษณะอื่นๆ แก่ผู้เข้าชม แพลตฟอร์มที่เชื่อมโยงเหล่านี้จะมีนโยบายความเป็นส่วนตัวและการจัดการด้านความปลอดภัยแยกต่างหากแบบอิสระ แม้ว่าบุคคลภายนอกจะมีความเกี่ยวข้องกับเรา แต่เราไม่มีสิทธิในการควบคุมแพลตฟอร์มที่เชื่อมโยงเหล่านี้ได้ เนื่องจากแต่ละแพลตฟอร์มจะมีข้อปฏิบัติด้านความเป็นส่วนตัวและการเก็บรวบรวมข้อมูลแยกต่างหากเป็นอิสระจากเรา ข้อมูลที่รวบรวมขึ้นจากหุ้นส่วนที่มีแบรนด์ร่วมกับเราหรือเว็บแพลตฟอร์มของบุคคลภายนอก (แม้ว่าจะนำเสนอในหรือผ่านเว็บแพลตฟอร์มของเรา) อาจไม่ได้รับมาจากเรา
                <br /><br />

                11.3  ดังนั้นเราจึงไม่ต้องรับผิดชอบหรือรับผิดในเนื้อหา การจัดการด้านความปลอดภัย (หรือการไม่ได้รับความปลอดภัย) และกิจกรรมต่างๆ ของแพลตฟอร์มที่เชื่อมโยงเหล่านี้ แพลตฟอร์มที่เชื่อมโยงเหล่านี้มีไว้เพื่อความสะดวกของคุณ และให้คุณเข้าใช้งานด้วยความรับผิดชอบของคุณเอง อย่างไรก็ตาม เราต้องการปกป้องความสมบูรณ์ของแพลตฟอร์มและลิงก์ที่อยู่ในแต่ละแพลตฟอร์มของเรา และรับฟังข้อคิดเห็นเกี่ยวกับแพลตฟอร์มที่เชื่อมโยงเหล่านี้ (รวมถึงแต่ไม่จำกัดเพียง หากลิงก์เฉพาะไม่ทำงาน)
                <br /><br /><br />
            </p>
            <strong>
                12.Filmlab จะถ่ายโอนข้อมูลของคุณไปต่างประเทศหรือไม่
                <br />
                <br />
            </strong>
            <p class="text-justify">

                ข้อมูลส่วนบุคคลและ/หรือข้อมูลของคุณอาจถูกถ่ายโอน จัดเก็บ หรือประมวลผลภายนอกประเทศสำหรับหนึ่งหรือหลายวัตถุประสงค์ตามที่ระบุไว้ในข้อ 6.1 ข้างต้น โดยส่วนใหญ่ ข้อมูลส่วนบุคคลของคุณจะถูกนำไปดำเนินการประมวลผลในประเทศสิงคโปร์ ซึ่งเป็นที่ตั้งของเซิร์ฟเวอร์ของเรา Shopee จะถ่ายโอนข้อมูลของคุณไปยังต่างประเทศตามกฎหมายคุ้มครองข้อมูลส่วนบุคคลเท่านั้น
                <br /><br /><br />
            </p>
            <strong>
                13.วิธีที่คุณสามารถเลือกออกจากการให้ข้อมูล ถอนความยินยอม ร้องขอการเข้าถึง หรือแก้ไขข้อมูลที่คุณให้แก่เรา
                <br />
                <br />
            </strong>
            <p class="text-justify">
                13.1  การถอนความยินยอม
                <br /><br />
                13.1.1  คุณอาจถอนความยินยอมของคุณเกี่ยวกับการเก็บรวบรวม ใช้ และ/หรือเปิดเผย และ/หรือขอลบข้อมูลส่วนบุคคลของคุณซึ่งอยู่ในครอบครองหรือควบคุมของเราได้ โดยการส่งอีเมลไปที่ เจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคลของเรา ตามที่อยู่อีเมล dpo.th@shopee.com  และเราจะดำเนินการพิจารณาคำขอถอนความยินยอมของคุณ ตามเงื่อนไขที่กำหนดไว้ใน นโยบายความเป็นส่วนตัวนี้ และ กฎหมายคุ้มครองข้อมูลส่วนบุคคลและกฎหมายอื่นที่เกี่ยวข้อง อย่างไรก็ตาม การถอนความยินยอมของคุณอาจทำให้เราไม่สามารถให้บริการแก่คุณต่อไปได้ เราจึงอาจต้องยุติความสัมพันธ์ที่มีอยู่ และ/หรือ สัญญาที่คุณมีกับเรา
                <br /><br />
                13.1.2  เมื่อคุณได้แชร์เนื้อหาของ YouTube นอกจาก การขอเพิกถอนความยินยอมของคุณโดยการส่งอีเมลตามที่กำหนดไว้ในข้อ 13.1.1 คุณอาจเพิกถอนการเข้าถึงข้อมูส่วนบุคคลของ Shopee ผ่านทางหน้าการตั้งค่าความปลอดภัยของ Google หรือ Google security setting page ที่ https://security.google.com/settings/security/permissions.

                <br /><br />
                13.2  การร้องขอการเข้าถึงหรือการแก้ไขข้อมูลส่วนบุคคล
                <br /><br />
                13.2.1  หากคุณมีบัญชีกับเรา คุณอาจเข้าถึงและ/หรือแก้ไขข้อมูลส่วนบุคคลของคุณซึ่งอยู่ในครอบครองหรือควบคุมของเราได้ด้วยตนเองผ่านหน้าการตั้งค่าบัญชีที่อยู่ในแพลตฟอร์ม หากคุณไม่มีบัญชีกับเรา คุณอาจเข้าถึงและ/หรือแก้ไขข้อมูลส่วนบุคคลของคุณที่ปัจจุบันอยู่ในความครอบครองหรือควบคุมของเราโดยการยื่นคำร้องเป็นลายลักษณ์อักษรถึงเเรา ทั้งนี้ เราต้องได้รับรายละเอียดข้อมูลที่เพียงพอจากคุณเพื่อการพิจารณาข้อมูลตัวตนของคุณและลักษณะคำขอของคุณเพื่อที่เราจะสามารถจัดการกับคำขอของคุณได้ ดังนั้น โปรดยื่นคำร้องเป็นลายลักษณ์อักษรของคุณโดยการส่งอีเมลมาที่เจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล ที่ dpo.th@Filmlab.com
                <br /><br />
                13.2.2  สำหรับการร้องขอเพื่อเข้าถึงข้อมูลส่วนบุคคล เมื่อเรามีข้อมูลของคุณอย่างเพียงพอที่จะดำเนินการแล้ว เราจะให้ข้อมูลส่วนบุคคลที่เกี่ยวข้องแก่คุณภายใน 30วัน (หรือหากคุณพำนักอยู่ในประเทศมาเลเซียจะใช้เวลา21วัน) หากเราไม่สามารถตอบสนองการร้องขอของคุณภายใน30วันดังกล่าว (หรือหากคุณพำนักอยู่ในประเทศมาเลเซียจะใช้เวลา21วัน) เราจะแจ้งให้คุณทราบเกี่ยวกับระยะเวลาที่เร็วที่สุดที่เราสามารถให้ข้อมูลที่คุณร้องขอได้ โปรดทราบว่ากฎหมายคุ้มครองข้อมูลส่วนบุคคลอาจยกเว้นข้อมูลส่วนบุคคลบางประเภทจากการร้องขอการเข้าใช้งานของคุณ
                <br /><br />
                13.2.3  สำหรับการร้องขอเพื่อแก้ไขข้อมูลส่วนบุคคล เมื่อเรามีข้อมูลของคุณเพียงพอที่จะดำเนินการแล้ว เราจะ:
                <br /><br />
                (ก)  แก้ไขข้อมูลส่วนบุคคลของคุณภายใน 30 วัน (หรือหากคุณพำนักอยู่ในประเทศมาเลเซียจะใช้เวลา 21 วัน) หากเราไม่สามารถแก้ไขได้ภายในระยะเวลาดังกล่าว เราจะแจ้งให้คุณทราบเกี่ยวกับระยะเวลาการดำเนินการแก้ไขที่เร็วที่สุด โปรดจำไว้ว่ากฎหมายคุ้มครองข้อมูลส่วนบุคคลอาจยกเว้นข้อมูลส่วนบุคคลบางประเภทจากการร้องขอเพื่อให้แก้ไข รวมถึงระบุเวลาที่จำเป็นต้องได้รับการแก้ไขจากเราในสถานการณ์ (ต่างๆ) แม้ว่าจะคุณจะร้องขอมาก็ตาม และ
                <br /><br />
                (ข)  เราจะส่งข้อมูลส่วนบุคคลที่ถูกแก้ไขไปยังทุกองค์กรซึ่งเราได้เปิดเผยข้อมูลส่วนบุคคลให้ทราบภายในระยะเวลาหนึ่งปีก่อนวันที่ทำการแก้ไข เว้นแต่องค์กรนั้นไม่ต้องการข้อมูลส่วนบุคคลที่แก้ไขแล้วเพื่อวัตถุประสงค์ทางกฎหมายหรือธุรกิจ
                <br /><br />
                13.2.4 โดยไม่ต้องพิจารณาถึงย่อหน้าย่อย (ข) ข้างต้น หากคุณร้องขอ เราอาจส่งข้อมูลส่วนบุคคลที่แก้ไขไปให้แก่องค์หนึ่งองค์กรใดโดยเฉพาะซึ่งเราได้เปิดเผยข้อมูลส่วนบุคคลให้ทราบ ภายในระยะเวลาหนึ่งปีก่อนวันที่ทำการแก้ไข
                <br /><br />
                13.2.5  ภายใต้ขอบเขตที่อนุญาตโดยกฎหมายเราอาจคิดค่าธรรมเนียมตามสมควรสำหรับการดำเนินการและจัดการคำร้องของคุณในการเข้าถึงข้อมูลส่วนบุคคล หากเราเลือกที่จะคิดค่าธรรมเนียม เราจะแจ้งค่าธรรมเนียมโดยประมาณเป็นลายลักษณ์อักษรให้แก่คุณ โปรดทราบว่าเราไม่จำเป็นต้องตอบสนองหรือดำเนินการใดๆ ต่อคำร้องขอการเข้าถึงข้อมูลของคุณเว้นแต่คุณตกลงที่จะจ่ายค่าธรรมเนียม
                <br /><br />
                13.2.6  เราสงวนสิทธิ์ที่จะปฏิเสธการแก้ไขข้อมูลส่วนบุคคลของคุณตามข้อกำหนดที่ระบุไว้ในกฎหมายคุ้มครองข้อมูลส่วนบุคคล ซึ่งข้อกำหนดระบุและ/หรือให้สิทธิองค์กรที่จะปฏิเสธการแก้ไขข้อมูลส่วนบุคคลในสถานการณ์ที่ระบุไว้
                <br /><br /><br />
            </p>
            <strong>
                14.มีคำถาม ข้อกังวล หรือคำร้องเรียน โปรดติดต่อเรา
                <br />
                <br />
            </strong>
            <p class="text-justify">
                14.1  หากคุณมีคำถามหรือข้อกังวลเกี่ยวกับข้อปฏิบัติว่าด้วยความเป็นส่วนตัวของเรา หรือเกี่ยวกับการจัดการบริการ โปรดติดต่อเราทันทีที่: help@support.filmlab.co.th
                <br /><br />
                14.2  หากคุณมีคำร้องเรียนหรือ ข้อข้องใจ เกี่ยวกับวิธีที่เราจัดการข้อมูลส่วนบุคคลของคุณหรือเกี่ยวกับวิธีที่เรา ปฏิบัติตาม กฎหมายคุ้มครองข้อมูลส่วนบุคคล เราขอให้คุณติดต่อมาที่เราเพื่อแจ้งคำร้องเรียนหรือข้อข้องใจของคุณ
                <br /><br />

                โปรดติดต่อเราผ่านทาง อีเมล เพื่อแจ้งคำร้องเรียนหรือข้อข้องใจได้ที่:
                <br /><br />
                อีเมล: dpo.th@Filmlab.com และส่งถึง “เจ้าหน้าที่คุ้มครองข้อมูลส่วนบุคคล (Personal Data Protection Officer)”
                <br /><br />
                โปรดส่งหนังสือบอกกล่าว/หนังสือร้องเรียนทั้งหมดไปที่ legal@filmlab.com และส่งถึง “ที่ปรึกษากฎหมาย (General Counsel)”

                <br /><br /><br />
            </p>
            <strong>
                15.ข้อกำหนดและเงื่อนไข
                <br />
                <br />
            </strong>
            <p class="text-justify">
                โปรดอ่านเงื่อนไขการให้การบริการที่ระบุถึงการใช้งาน การปฏิเสธความรับผิดชอบ และข้อจำกัดการรับผิดที่ควบคุมการใช้งานแพลตฟอร์มและบริการ รวมถึงนโยบายที่เกี่ยวข้องอื่นๆ
            </p>

            <strong>
                <br /><br /><br /><br /><br />
                ฉบับวันที่ 27 กันยายน 2564
            </strong>
        </div>
    </section>



</body>
